<div class="container-fluid footer-container ">

    <div class="footer-container footer-general">

      <div>
        <img src="/img/Logo RG nasd2 (1).svg" class="img-logo-inf" alt="Logo">
      </div>

      <div>
        <p>Cursos</p>
        <a href="">Peluqueria</a>
        <a href="">Peinados</a>
        <a href="">Color</a>
        <a href="">Corte</a>

      </div>

      <div>
        <p>Sobre Nosotros</p>
        <a href="">Preguntas frecuentes</a>
        <a href="">Quienes Somos</a>
        <a href="/contacto">Contacto</a>
      </div>

      <div>
        <p>Redes Sociales</p>
        <a id="whatsApp" href="" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
        <a id="instagram" href="" target="_blank"><i class="fa-brands fa-instagram"></i></a>

      </div>
    </div>
  </div>