<header>
    <div class="container-fluid">
      <nav>
        <img src="/img/Logo RG nasd2 (1).svg" class="img-logo" alt="Logo">
        <button class="hamburger" id="hamburger">
          <i class="fa-solid fa-bars"></i>
        </button>
        <ul class="nav-ul" id="nav-ul">
          <li><a href="/">Inicio</a></li>
          <li><a href="/cursos">Cursos</a></li>
          <li><a href="#">Nosotros</a></li>
          <li><a href="/contacto">Contacto</a></li>
        </ul>
      </nav>
    </div>