<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>

<body>
    <!-- HEADER -->
    <header>
        <%- include ('../partials/header') %>
    </header>
    <!-- MAIN -->
    <main>
        <section>
            <div class="curso-container">
                <h1 class="text-center">Todos los Cursos</h1>
                <div class="cursos-generales" id="card-curso">

                </div>
            </div>
        </section>
    </main>
    <!-- FOOTER -->
    <footer>
        <%- include ('../partials/footer') %>
    </footer>
    <!-- SCRIPTS -->
    <%- include ('../partials/scripts') %>
</body>

</html>